<main>
<div class="loginbox">
        <img src="logo.png" class="logo">
        <h1>Login</h1>
        <form>
            <p>Nome</p>
            <input type="text" name="" placeholder="Escreva seu nome">
            <p>Senha</p>
            <input type="password" name="" placeholder="Digite sua senha">
            <input type="submit" name="" value="Login">
            <a href="#">Esqueci minha senha?</a><br/>
            <a href="#">Ainda não é cadastrado?</a>        
        </form>
    </div>
    </main>